html {

    background: #1e1a20;
    font-family: 'Bubblegum Sans', cursive;
}

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    color: #fff;
}

#root {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal h1 {
    font-size: 2.25rem;
}

.modal h2 {
    font-size: 1.375rem;
}

.modal
.hidden {
    display: none;
}

.modal 
.content {
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    background: rgba(24,25, 26, 0.6);
    text-align: center;
    backdrop-filter: blur(12px);
}