html {

    background: #1e1a20;
    font-family: 'Bubblegum Sans', cursive;
}

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    color: #fff;
}

#root {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}